@charset "UTF-8";
/* CSS Document */

/* FONTS */
@font-face { 
	font-family: "R-Regular"; 
	src: url("../font/Roboto-Regular.ttf"); 
}

@font-face {
	font-family: "R-Thin";
	src: url("../font/Roboto-Thin.ttf");
}

@font-face {
	font-family: "R-Bold";
	src: url("../font/Roboto-Bold.ttf");
}

@font-face {
	font-family: "R-Italic";
	src: url("../font/Roboto-Italic.ttf");
}

@font-face {
	font-family: "R-CondReg";
	src: url("../font/RobotoCondensed-Regular.ttf");
}

a:visited, a:link {
	color: white;
	text-decoration: none;
}

.dd {
	position: relative;
	display: inline-block;
	text-align: center;
}
.dd-c {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 400px;
	box-shadow: 0px 8px 16 px 0px rgba(0, 0, 0, 0.2);
	padding: 6px 8px;
	z-index: 1;
}

.dd:hover .dd-c {
	display: block;
}

th {
	border-bottom: 1px solid white;
}

td {
	padding: 4px 6px;
}

tr:nth-child(even) {
	background-color: #90805f;
}

table {
	border-collapse: collapse;
}

ul {
	list-style: none;
}

.nav {
	font-size: 18px; 
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.nav > a:hover {
	color: orange;
	transition-duration: 500ms;
}

.white {
	color: white;
	font-size: 12px;
	opacity: 1;
}

@media screen and (max-width: 1803px) {
    #sidebar {
        float: left !important;
		height: auto !important;
		margin-left: 5%;
		min-width: 1563px;
		margin-top: 0px !important;
		min-height: 0px !important;
		max-height: 5% !important;
		text-align: center;
    }
	
	#sidebar > ul {
		display: inline;
	}
	
	#sidebar > ul > li {
		display: inline;
		padding-left: 5px;
	}
	
	#equip, #ap, #wq {
		width: 100% !important;
	}
	#dungeons, #reputation, #legendaries, #mythics, #ilvl {
		width: 100%!important;
		margin-left: 0% !important;
	}
}